header.svelte-11bbeim.svelte-11bbeim {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  border: 4px solid var(color);
  color: var(color);
  box-shadow: calc(var(--m10) * -1) var(--m10) var(--m5) rgba(0, 0, 0, 0.3);
  width: 100vw;
  background-color: #fff;
  height: 100px;
}
header.svelte-11bbeim > .logo.svelte-11bbeim {
  cursor: pointer;
  height: var(--m96);
  padding: 0;
  height: 100%;
}
.logo.svelte-11bbeim > img.svelte-11bbeim {
  height: 100%;
}
header.svelte-11bbeim > h1.svelte-11bbeim {
  padding-left: 20px;
  letter-spacing: 2.5px;
}
.container.svelte-11bbeim.svelte-11bbeim {
  margin: 0px auto;
  padding: 10px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 120px;
}
.container.svelte-11bbeim > .card {
  width: fit-content;
  margin-left: 10px;
  margin-bottom: 10px;
  flex: 1;
}
@media (max-width: 960px) {
  header.svelte-11bbeim > h1.svelte-11bbeim {
    padding-left: 10px;
    letter-spacing: 1.5px;
  }
  .container.svelte-11bbeim.svelte-11bbeim {
    width: 100vw;
    padding: 10px;
    padding-top: 120px;
  }
  .container.svelte-11bbeim > .card {
    width: 95%;
  }
}
@media (max-width: 615px) {
  header.svelte-11bbeim h1.svelte-11bbeim {
    font-size: 1.25rem;
  }
}
body {
  overflow-x: hidden;
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
.bg.svelte-1r6k721.svelte-1r6k721,
.bg-left.svelte-1r6k721.svelte-1r6k721 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.bg.svelte-1r6k721.svelte-1r6k721 {
  width: 100%;
  height: 100vh;
  background: url("/img/bg-header1.svg") top no-repeat;
  background-size: 100%;
}
.bg-left.svelte-1r6k721.svelte-1r6k721 {
  width: 35%;
  height: 175px;
  background: url("/img/bg-header2.svg") left top no-repeat;
  background-size: 100%;
}
.main-content.svelte-1r6k721.svelte-1r6k721 {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.info.svelte-1r6k721.svelte-1r6k721 {
  width: 40%;
  padding: 4%;
  margin-top: 15%;
}
.info__title.svelte-1r6k721.svelte-1r6k721 {
  font-size: 34px;
  line-height: 0.8em;
}
.info__title.svelte-1r6k721 > .gretting.svelte-1r6k721 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.info__description.svelte-1r6k721.svelte-1r6k721 {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info-social.svelte-1r6k721.svelte-1r6k721 {
  display: flex;
  justify-content: space-between;
}
.illustration.svelte-1r6k721.svelte-1r6k721 {
  width: 60%;
}
.illustration.svelte-1r6k721 > img.svelte-1r6k721 {
  width: 90%;
}
.learning.svelte-1r6k721 > a.svelte-1r6k721 {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: var(--primary-color);
}
a.svelte-1r6k721 > span.svelte-1r6k721 {
  margin-left: 10px;
}
@media screen and (max-width: 860px) {
  .info.svelte-1r6k721.svelte-1r6k721 {
    width: 100%;
    margin-top: 20%;
  }
  .illustration.svelte-1r6k721.svelte-1r6k721 {
    display: none;
  }
}
.card.svelte-1isq3dq.svelte-1isq3dq {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
.card.svelte-1isq3dq > header.svelte-1isq3dq {
  background-color: var(--primary-color);
  padding: var(--m10);
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
header.svelte-1isq3dq > h2.svelte-1isq3dq {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
header.svelte-1isq3dq > .circles.svelte-1isq3dq {
  display: block;
  width: var(--m18);
  height: var(--m18);
  border-radius: 50%;
  background-color: var(--red-color);
  border: 1px solid #fff;
  box-shadow: 25px 0 0 0 var(--yellow-color), 50px 0 0 0 var(--green-color);
  margin-right: 50px;
  margin-left: 20px;
}
.card.svelte-1isq3dq > div.svelte-1isq3dq {
  border: var(--m1) solid var(--primary-color);
  padding: var(--m10);
  height: calc(100% - 48px);
  overflow-x: auto;
}
@media (max-width: 484px) {
  header.svelte-1isq3dq > h2.svelte-1isq3dq {
    font-size: 0.8em;
  }
} /*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
